
<fieldset>
  <h2>Use this form to send me Email</h2>
  <form (ngSubmit)="sendEmail($event)">
  <div class="m-3">
    <label for="exampleFormControlInput1" class="form-label">Enter Your Email address</label>
    <input type="email"
           class="form-control"
           id="exampleFormControlInput1"
           placeholder="name@example.com"
            name="from_name"
           [(ngModel)]="email"
    >
  </div>
  <div class="m-3">

    <label for="exampleFormControlTextarea1" class="form-label">Send Me Message</label>
    <textarea class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Enter Your Message"
              name="message"
              [(ngModel)]="message"
    ></textarea>
  </div>
  <input type="submit" value="send">
  </form>
  <div class="phoneMassage">
    <h2>You can call me on this phone number</h2>
    <p>Phone: +880 1711 111111</p>
  </div>
</fieldset>


