<p>gallery works!</p>
<button class="btn btn-primary" (click)="getGalleryItems()">wyswietl</button>
<div class="galleryWrapper">
  <div *ngFor="let image of galleryJobsList" class="imageWrapper">
    <p>{{image.title}}</p>
    <div>
    <img src="{{image.img}}" alt="image" class="galleryImage">
    <img *ngIf="image.before !== null" src="{{image.before}}" alt="image" class="galleryImageBefore galleryImage">
    </div>
    <div class="imageDescription">

      <p>{{image.description}}</p>


    </div>
  </div>
</div>


