<div class="galleryWrapper">
  <div *ngFor="let image of galleryJobsList" class="imageWrapper">
    <p class="textSize">{{image.title}}</p>
    <div *ngIf="image.before !== null" class="textSize">Before</div>
    <img src="{{image.img}}" alt="image" class="galleryImage">
    <div *ngIf="image.before !== null" class="textSize">
      After (click to reveal!)
      <div style="border: black 1px solid; border-radius: 15px ">
    <img  src="{{image.before}}"
          alt="image"
          [style.opacity]="image.opacity"
          [style.filter]="'blur(' + image.blurMod + 'px)'"
          class=" galleryImageBefore galleryImage"
          (click)="toggleBlur(image)" >
    </div>
    </div >
    <div class="imageDescription">

      <p>{{image.description}}</p>


    </div>
  </div>
</div>


