.mainButtons {
  color: black;
    padding: 3px;
border: black 1px solid;

}


.container {
height: 100%;


}

.containerWrapper {

    /*background-image: url('../assets/handymanbgup.png');*/
    /*background-size: cover;*/
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/

  }
  @media all and (min-width: 768px) {
    .containerWrapper {
      /*background-image: url('../assets/handymanbg.png');*/
      /*background-size: cover;*/
      /*background-repeat: no-repeat;*/
      /*height: 100%;*/
      .logo {
        width: 140px;
        height:140px;
        right: 40%;
        z-index: 0;
        top: 5px;


      }
      .logo p {
        position: absolute;
        left: -170%;
        font-size: 1.3rem;
        top: 60%;
        transform: translateY(-50%) ;
      }
      .title {
        font-size: 2.5rem;
        padding: 20px 0 0 5px;
      }
    }


  }
.headerWrapper {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  color: black;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Mono', monospace;
  position: relative;
  border-bottom-left-radius: 10px;

}
.logo {
  top: 15px;
  width: 100px;
  height:100px;

  border-radius:100px;
  position: absolute;
  z-index: 0;
  right: 5%;

  /*background-image: url("../assets/handymanlogo.png");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/

}


.headerLogo {

}
.headerMenu {
  position: relative;
  z-index: 1;
}
.title {
  padding: 15px 0 0 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e27f28;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  font-family: 'Playpen Sans', sans-serif;
}
p {
  position: absolute;
  left: -150%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
}
footer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  color: black;
  font-size: 0.8rem;
  padding: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Mono', monospace;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
