<div class="containerWrapper">
  <div class="container">
        <div class="headerWrapper">
        <div class="headerLogo mb-3">
        <h2>Woy-Tech Fix</h2>
        Your local Handyman
      </div>
      <div class="headerMenu mx-1">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/index" routerLinkActive="active" class="nav-link mainButtons  " href="#">About Me</a>
          </li>
          <li class="nav-item mx-1">
            <a routerLink="/gallery" routerLinkActive="active" class="nav-link mainButtons " href="#">My Work</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link mainButtons " href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
