<div class="containerWrapper">
  <div class="container">
        <div class="headerWrapper pt-2 px-2">
        <div class="headerLogo mb-3 d-flex ">
          <div class="titleHeader z-1">
        <h2 class="title">VoyTech Fix</h2>

          </div>
          <div class="logo">
            <p>Your local Handyman</p>
            <img src="assets/logohangymansmall.png" alt="logo" class="img-fluid">
          </div>
      </div>
      <div class="headerMenu mx-1 mt-5 z-1">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a routerLink="/index" routerLinkActive="active" class="nav-link mainButtons  " href="#">About Me</a>
          </li>
          <li class="nav-item mx-1">
            <a routerLink="/gallery" routerLinkActive="active" class="nav-link mainButtons " href="#">My Work</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link mainButtons " href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
