
<div class="adminWrapper">


<fieldset *ngIf="!userIsLogged()" class="input-group m-2 d-flex flex-column ">
  <input type="text" placeholder="Email" class="" [(ngModel)]="emailFromForm" >
  <input type="password" placeholder="Password" [(ngModel)]="passwordFromForm"  class="">
<button class="btn btn-primary" (click)="loginButtonClicked()">Log In</button>
  {{testowanieOpozniania(150)}}
</fieldset>
<div class="adminPagewrapper" *ngIf="userIsLogged()">
<div class="logOutButton" >
  Witaj
  <button class="btn btn-primary" (click)="logOutButtonClicked()">Log Out</button>
</div>

  <form class="formWrapper">
    before photo or just photo
   <input class=""
          #imageInput
         type="file"
         (change)="selectPhoto(imageInput)"
         accept="image/png, image/jpeg"            >
    after photo or keep empty
    <input class=""
           #imageInputBefore
           type="file"
           (change)="selectPhotoBefore(imageInputBefore)"
           accept="image/png, image/jpeg"            >
    <input type="text" placeholder="Title" [(ngModel)]="titleFromForm"  class="" name="title">
  <textarea  placeholder="Description" [(ngModel)]="descriptionFromForm"  class="form-control" name="description"></textarea>
    <button class="btn btn-primary" (click)="addNewJobToFirestore()">Add Photo</button>
  </form>
</div>
<div class="test">

</div>
</div>
{{titleFromForm}}
{{descriptionFromForm}}
{{imageFromForm}}

