fieldset {
  max-width: 220px;
  gap: 8px;
  border: black 2px solid;
  border-radius: 5px;
  padding:10px;
  background: rgba(255, 255, 255, 0.2);
}
.adminWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-width: 500px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgba(229, 217, 217, 0.8);
  padding: 20px;
  margin-top: 10px;
}
.tagWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tag {
  background: rgba(255, 255, 255, 0.8);
  border: black 1px solid;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  transition: 0.5s ease;
  width: fit-content;
}
.singleTag {

}
