<div class="indexWrapper mt-5" >
  <div class="wrapper">
<ol>
  <li class="jobDescription">Basic Repairs:
  <ul class="border-top">
    <li>Fixing leaky faucets</li>
    <li>Patching drywall</li>
    <li>Repairing a broken window</li>
  </ul>
  </li>
  <li class="jobDescription">Carpentry:
    <ul class="border-top">
      <li>Building shelves or cabinets</li>
      <li>Repairing or installing doors</li>
      <li>Building a small deck</li>
      <li>Floor fix</li>
    </ul>
  </li>
  <li class="jobDescription">Plumbing:
    <ul class="border-top">
      <li>Fixing running toilet</li>
      <li>Installing a new sink</li>
    </ul>
  </li>
  <li class="jobDescription">Electrical Work:
    <ul class="border-top">
      <li>Installing light fixtures</li>
      <li>Small fix</li>
    </ul>
  </li>
  <li class="jobDescription">General Home Maintenance:
    <ul class="border-top">
      <li>Lawn mowing </li>
      <li>Tree trimming</li>
    </ul>
  </li>
</ol>
  </div>
</div>

