<div class="indexWrapper mt-5" >
  <div class="wrapper">
    <h2 class="text-center p-0">Welcome to my Workshop</h2>
<ol>
  <li class="jobDescription">Painting:
  <ul class="border-top">
    <li>Interiors and exteriors</li>
    <li>Decorating painting</li>
    <li>Painting kitchen cabinets</li>
    <li>Doors and windows frames</li>
  </ul>
  </li>
  <li class="jobDescription">Carpentry:
    <ul class="border-top">
      <li>Shelving</li>
      <li>Repairing or installing of a fence</li>
      <li>Wooden flooring</li>
      <li>Skirting boards</li>
      <li>Decking</li>
      <li>Replacement doors or windows</li>
    </ul>
  </li>
  <li class="jobDescription">Plumbing:
    <ul class="border-top">
      <li>Tap replacements</li>
      <li>Fixing leaks and other small jobs</li>
      <li>Installation a washing machines and dishwasher</li>
      <li>Bathroom refurbishments</li>
    </ul>
  </li>
  <li class="jobDescription">Electrical Work:
    <ul class="border-top">
      <li>Installing new lights</li>
      <li>Replacement old lighting</li>
      <li>Installing additional sockets</li>
      <li>Replacing damaged switches</li>
      <li>Fitting new USB Sockets</li>
      <li>Electric shower replacement</li>
    </ul>
  </li>
  <li class="jobDescription">General Home Maintenance:
    <ul class="border-top">
      <li>Installing TV mounts</li>
      <li>Door handles replaced</li>
      <li>Fixing or replacing door and windows</li>
    </ul>
  </li>
</ol>
  </div>
</div>

