/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Playpen+Sans&display=swap');

html {
  height: 100%;
  background-image: url('assets/handymanbgup.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media all and (min-width: 768px) {
  html {
    background-image: url('assets/handymanbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
  }
}

body {

  background-color: rgba(255, 255, 255, 0);
}
